{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for obj in data %}

        <div class="background">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="text-center title">¡Hola, {{ obj.title }}! 😊. Gracias, por aceptar mi invitación 🎉</h1>
                </div>
                <div class="card col-sm-6">
                    <div class="card-body">
                    <span>
                        Para mi es un honor que estes acá. He decido celebrar un año más de vída. Con mis seres queridos, y tu estas porque eres especial para mi, es una reunión familiar, pero tu presencia es importante.       
                    </span>
                    </div>
                </div>
            </div>
            
            <div class="dates">
                <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <ul class="mt-8">
                                <li><strong>📆 Fecha:</strong> Sábado 7 de diciembre de 2024</li>
                                <li><strong>✅ Válido:</strong> <span>({{ obj.companions }}) Persona</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <ul>
                                <li><strong>⏱️ Hora:</strong> 7:00 PM</li>
                                <li><strong>📍 Lugar:</strong> El Roble Sector 4, calle Alvarado. Casa de Belén.</li>
                            </ul>
                        </div>
                </div>
            </div>


            <div class="row">
                <h2 class="subtitle">¿Cómo llegar?</h2>
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d825.9263685957151!2d-69.32496244464856!3d10.034176112207652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDAyJzAxLjciTiA2OcKwMTknMjguMSJX!5e0!3m2!1ses!2sve!4v1733371494477!5m2!1ses!2sve" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
                        
            
            
            
            
        </div>



    {% endfor %}


    <style>
    
    body {
        background-color: #e9eae5;
    }
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .row {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
        }

        .background {
            background: url('{% static "/img/cumple.jpg" %}');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .title {
            padding-top: 14%;
            margin-bottom: 25px;
            font-family: "Knewave", system-ui;
            font-weight: 400;
            font-size: 2.5em;
            font-style: normal;
            color: rgb(82, 152, 231);
            margin-left: 15%;
            margin-right: 15%;
        }

        .subtitle {
            font-family: "Knewave", system-ui;
            font-weight: 300;
            font-size: 1.7em;
            font-style: normal;
            color: rgb(82, 152, 231);
            margin: 2% 15%; 
            width: 70%;
            text-align: center;
        }

        .card-body {
            padding-top: 5%;
            padding-left: 19%;
            padding-right: 19%;
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-size: 1.52em;
            color: #3c4044;
        }

        .card {
            background: url('{% static "/img/desktop.png" %}');
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px 50px;
            background-size: 70% 100%;
            margin-left: 25%;
            border: none;
        }


        .dates {
            margin-top: 2.4%;
            border-radius: 5px;
            width: 50%;
            margin-left: 25%;
            background: url('{% static "/img/vintage.jpg" %}');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: 0.85;
        }

        .maps {
             width: 50%;
             margin: 1% 25% 5% 25%;  
        }

        li {
            padding: 5px;
            list-style-type: none;
            font-size: 1.2em;
        }


        @media only screen and (max-width: 600px) {
            
            .background {
                height: 100%;
            }


            .title {
                padding-top: 50%;
                font-size: 1.25em;
                margin-left: 0;
                margin-right: 0;
            }


            .card {
                height: 250px;
                background-size: 25px 50px;
                background-size: 80% 100%;
                height: 350px;
                margin-left: 0;
            }

            .card-body {
                padding-top: 6%;
                font-size: 1.05em;
            }

            li {
                padding: 2px;
                font-size: 0.85em;
            }
            
            
            .dates {
                margin-top: 2.4%;
                border-radius: 5px;
                width: 80%;
                margin-left: 10%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            
            
            .maps {
                 width: 80%;
                 margin: 1% 25% 5% 25%;  
            }

        }
    </style>



{% endblock %} 